{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="row">
    <h2>League Lookup</h2>
</div>

<p>
	<h1>LoL Player Data for {{playerName}}</h1>
	{{playerDataError}}<br>{{pid}}<br>{{acctID}}<br>{{puid}}<br>{{level}}<br>
	<br>
	<h1>Ranked Data</h1>
	{{rankedError}}<br>{{tr1}} {{rk1}}<br>{{lp1}}<br>{{tr2}} {{rk2}}<br>{{lp2}}<br>
	<br>
	<h1>Spectator Data</h1>
	{{spectatorError}}<br>{{gM}}<br>{{gL}}<br>{{bT}}<br>{{rT}}<br>
	<br>
</p>

<div>
<a href="http://localhost:5000/league">Go back to League Lookup</a>
</div>

<div>
<a href="http://localhost:5000/tft">Go to TFT Lookup</a>
</div>

{% endblock %}




