{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<!DOCTYPE html> 
    <html>
        <head>
            <style>




body{
	
	font-size:15px;
	color:#fcfcfc;
	background-color:#1f2020;
	font-family:Arial, Helvetica, sans-serif;
	background: url(https://cdn.hipwallpaper.com/i/48/29/32IiOT.jpg);
	background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-blend-mode: hard-light;
}</style>
<h2>Register</h2>
<form method="post">
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
